
*{
    margin:0;
    padding:0;
}
  /*Other CSS*/
  body{
    font-family: helvetica;
    font-size: 1.2em;
    margin: 0px;
    background: url(PS/masterpage.png) no-repeat;
    overflow: hidden;
    font-family: '楷体';
  }

  body a{
    color: #4183c4;
  }
#header_div{
  width:100vw;
  height:100vh;
}
.div1{
    background-color: #FBB44C;
    width: 15vw;
    height: 40vh;
    position:absolute;
    top:25vh;
    left: 25vw;
    border-radius: 2vh;
    text-align: center;
    vertical-align: middle;
    line-height:36vh;
    font-size:7vw;
    color:rgb(190, 255, 153,.5);
    cursor: pointer;
    box-shadow:rgba(207, 171, 71, 0.3) -0.75vw 0.75vh;
 }
 .feng_image{
  width: 15vw;
  height: 40vh;
  background: url("PS/fang.png") no-repeat;
  background-size: 100% 100%;
 }
.div2{
    background-color: #FC797A;
    width: 15vw;
    height: 40vh;
    position:absolute;
    top:25vh;
    left: 45vw;
    border-radius: 2vh;
    text-align: center;
    line-height:36vh;
    font-size:7vw;
    color:rgb(255, 175, 242,.5);
    cursor: pointer;
    box-shadow:rgba(199, 90, 113, 0.3) -0.75vw 0.75vh;
 }
 .ya_image{
  width: 15vw;
  height: 40vh;
  background: url("PS/ya.png") no-repeat;
  background-size: 100% 100%;
 }
.div3{
    background-color:#2ABB9B;
    width: 15vw;
    height: 40vh;
    position:absolute;
    top:25vh;
    left: 65vw;
    border-radius: 2vh;
    text-align: center;
    line-height:36vh;
    font-size:7vw;
    color:rgb(169, 231, 255,.5);
    cursor: pointer;
    box-shadow:rgba(98, 196, 79, 0.3) -0.75vw 0.75vh;
 }
 .song_image{
  width: 15vw;
  height: 40vh;
  background: url("PS/song.png") no-repeat;
  background-size: 100% 100%;
 }

.div_hover_shanshuo{
    animation: fadeIn .5s;
    cursor: pointer;
 }
 .div_flipInX{
  animation: fadeInUp 1s;
 }

 .baidu{
   background-color: rgb(255, 111, 154);
   width:10vw;
   height: 5vh;
   position:absolute;
   top: 76vh;
   left:0;
   line-height: 5vh;
   font-size: 1vw;
   cursor: pointer;
   color: #fff;
   padding-left: 15px;
   background-position: right 20px top -95px;
   border-bottom: 1px solid #ec8484;
   box-sizing: border-box;
   border-radius: 1vh;
   box-shadow:rgba(196, 87, 148, 0.3)  -0.5vw 0.5vh;
 }
 .baidu a{
  text-decoration: none;
  color: rgb(214, 247, 255);
  margin-right: 2vw;
 }
 .shuqian{
   width:5vw;
   height:25vh;
   background:url(PS/shuqian.png) no-repeat;
   background-size: 100% 100%;
   position:absolute;
   top: 0;
   right: 5vw;
   cursor: pointer;
 }
 .shuqian_fadeInDown{
  animation: fadeInDown 1s;
 }
 .shuqian_bounce{
  animation: bounce 1s;
 }
 .baidu_road_runner{
  animation: road_runner 2s;
 }
 .baidu_flipInX{
  animation: rubberBand 1s;
 }
 .a_1{
   display: block;
  width: 15vw;
  height: 40vh;
   text-decoration: none;
   color:rgb(190, 255, 153,.5);
 }
 .a_2{
  display: block;
  width: 15vw;
  height: 40vh;
  text-decoration: none;
  color:rgb(255, 175, 242,.5);
}
.a_3{
  display: block;
  width: 15vw;
  height: 40vh;
  text-decoration: none;
  color:rgb(169, 231, 255,.5);
}
.baidu_a{
  display:block;
  width:10vw;
  height: 5vh;
  margin-left: -15px;
  text-align: center;
}