/*The CSS example*/
.accordion {
    width: 20vw;
    overflow: hidden;
    margin: auto;
    position: absolute;
  }
  .accordion .item .heading {
    height: 4vh;
    line-height: 4vh;
    font-size: 2vh;
    cursor: pointer;
    color: #fff;
    padding-left: 15px;
    background-position: right 20px top -95px;
    border-bottom: 0px solid #e2b2b2;
    box-sizing: border-box;
    border-bottom-right-radius: 5vh;
    border-top-right-radius: 5vh;
  }

  .accordion .item .heading .fa-chevron-circle-down{
    float: right;
    padding: 15px;
  }

  .accordion .item.open .heading,
  .accordion .item:last-child .heading {
    border: 0;
  }

  .accordion .item.open .heading {
    background-position: right 20px top -5px;
  }

  .accordion .item .content {
    padding: 0px 0px;
    background: rgb(238, 238, 238,0);
    font-size: 1.7vh;
    height:0;
    cursor:text;
    overflow:hidden;
    color: #000000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .accordion .item.open .content {
    height: 20vh;
    padding-top: 1vh;
    padding-bottom: 10vh;;

  }
  
  .blue{
    background-color: #3498db;
    animation: road_runner 2s;

  }
  .orange{
    background-color: #FBB44C;
    animation: road_runner 2s ;
  }
  
  .pink{
    background-color: #FC797A;
    animation: road_runner 2s;
  }
  .green{
    background-color:#2abb9b;
    animation: road_runner 2s;
  }
  .color1{
    background-color:#3bbb2a;
    animation: road_runner 2s;
  }
  .color2{
    background-color:#5ba1da;
    animation: road_runner 2s;
  }
  .color3{
    background-color:#99bb2a;
    animation: road_runner 2s;
  }
  .color4{
    background-color:#d67373;
    animation: road_runner 2s;
  }
  .color5{
    background-color:#76d3d3;
    animation: road_runner 2s;
  }

  /*End CSS example*/
  
  .container{ 
     margin-top: 50px;
     min-width: 300px;
     width: 40%;
  }
  
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
  }
  
  
  footer {
    color: rgba(236, 222, 209, 1);
    text-align: center;
    background: #eee;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 10px 0px;
  }
  
  .sentences{
    color: #7f8c8d;
    font-size: 0.8em;
    padding: 0px 20px;
    background: red;
    min-width: 300px;
    background: #eee;
    display: table;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  .anijs-reserved-word {
    font-size: 1em;
    font-weight: bolder;
  }
  
  .anijs-if {
  color: #dd1144;
  }
  
  .anijs-on {
  color: #008080;
  }
  
  .anijs-do {
    color: #d56100;
  }
  
  .anijs-to {
    color: #4188d2;
  }
  
  .margin-right{
      margin-right: 50px;
  }
  
  .margin-left{
      margin-left: 50px;
  }
  
  .sticky {
    background: #F6F6F6;
    color: #666;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 0px 15px;
    font-size: 80%;
    font-style: italic;
    border-radius: 5px;
  }
  
  .sticky.left{
    top: 20px;
    left: 0px;
    right: inherit;
    padding: 20px;
    width: 200px;
    font-size: 0.7em;
    border-radius: 0px 10px 10px 0px;
  }
  
  .sticky.left h4{
    font-size: 150%;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.33em;
    text-align: left;
  }
  
  .sticky h4{
    text-align: center;
  }
  
  .sticky ul{
    list-style-type: disc;
    color: #4183c4;
    font-size: 90%;
  }
  
  .sticky ul li{
    margin-bottom:10px;
  }
  
  .discover{
    margin-left: -5%;
    color: #7f8c8d;
    font-size: 80%;
  }
  
  .discover img{
    width: 16px;
    height: 16px;
  }
  
  .pure-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 100%;
    padding: 0.5em 1.5em 0.5em;
    color: #444;
    color: rgba(0, 0, 0, 0.80);
    border: 1px solid #999;
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
    padding: 0.4em 1em;
    border-radius: 5px;
    font-size: 80%;
  }
  
  .pure-button.primary {
    background-color: #1f8dd6;
    color: white;
  }
  
  .pure-button.secondary {
    background: rgb(66, 184, 221);
    color: white;
  }